@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body{
  background-image: url("./game.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat ;
}

.image{
  
 height: 250px;
 width: 150px;

 min-width: 100%;
}

h4{
  color: rgb(196, 196, 196);
  font-family: 'Philosopher', sans-serif;
}

.title{
  color: rgb(196, 196, 196);
  font-family: 'Philosopher', sans-serif;
}

.box{
  
  background: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  transition: 1s;
  
}

/* .taille{
  height: 400px;
} */

.title-image{
  width: 250px;
  
  
}

.box:hover{
  transform: scale(1.06);
  background-color: rgba(82, 78, 78, 0.5);;
}